* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*@keyframes titulos {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: initial;
  }
}*/

body {
  font-family: "Ruda", sans-serif;
  text-align: center;
}

header {
  background-color: #de4309;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__img {
  width: 4rem;
  margin-top: 0.5rem;
}

.nav__item {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 150%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #de4309;
  animation: titulos 2s linear;
}

h2 {
  font-size: 20px;
  padding: 1%;
}

/*ESTILOS INDEX (pasar img a svg!!!) */
.index__grilla {
  display: grid;
  height: 100vh;
  justify-content: center;
}

.imgIndex {
  max-width: 500px;
  width: 100%;
}

/* ESTILOS DE MENU*/
.imgMenu {
  width: 25%;
}

/*ESTILO PEDIDOS*/
.pedidos {
  padding-inline: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedor1 {
  width: 350px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: "titulo titulo";
}

.contenedor2 {
  width: 400px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "titulo titulo";
}

.pedidos__titulo {
  grid-area: titulo;
}

.inputSize {
  width: 50px;
}

/*ESTILOS LOCALES*/
.locales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #de4309;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px -10px black;
  color: whitesmoke;
}

.card__title {
  color: #fcdd05;
}

.mapa {
  width: 80%;
  height: 300px;
}

/*ESTILO CONTACTO*/
.contacto {
  padding-inline: 10%;
}

label {
  font-size: 18px;
  margin: 1.5rem;
}

.inputBoton {
  background-color: #de4309;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 18px;
  border-radius: 0.2rem;
  box-shadow: 0 5px 20px -10px black;
}

/*ESTILO FOOTER*/
footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #de4309;
  font-size: 20px;
  color: whitesmoke;
}

.redes {
  text-decoration: none;
  color: whitesmoke;
}
